// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@300&display=swap');
body{
  background-color: #f1cab5;
}
.text-center {
  color: #355070 ;
  font-family: 'Ubuntu', sans-serif;
}
