
<div class="container">
  <div class='form'>
  <h1>Elige tu día de reservación</h1>
    <%= simple_form_for [@place, @booking] do |f| %>
      <%= f.input :date, label: 'Elige una fecha' %>
      <%= f.button :submit, class: 'btn btn-primary', value: 'Reserva' %>
    <% end %>
  </div>
</div>
