.btn-verde {
    color: #fff;
    background: linear-gradient(#49ab4d, #3b8a3e);
    border: 1px solid #255727;
    border-radius: 5px;
    margin: 7px;
}

.btn-verde:hover {
    background: linear-gradient(#036137, #055e36);
    color: white;
}

.btn-naranja {
    color: white;
    padding: 8px 24px;
    border-radius: 25px;
    font-weight: bold;
    background: linear-gradient(#ff6505, #ff5608);
    border: 1px solid #af3c07;
}

.btn-naranja:hover {
    background: linear-gradient(#aa4507, #af3c07);
    color: white;
}

.btn-rojo {
    color: white;
    padding: 8px 24px;
    border-radius: 25px;
    font-weight: bold;
    background: linear-gradient(#fa1100, #e3100a);
    border: 1px solid #a2100a;
}

.btn-rojo:hover {
    background: linear-gradient(#a50d02, #bb0a04);
    color: white;
}

.btn-azul {
    color: white;
    padding: 8px 24px;
    border-radius: 25px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    border: 1px solid #0F60C4;
}

.btn-azul:hover {
    background: linear-gradient(#03418b, #011631);
    color: white;
}

.raidius {
    border-radius: 7px;
}
