@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  a {
    text-decoration: black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h1 {
  font-family: 'Pacifico', cursive;
  color: #e56b6f;

}
