@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar-lewagon {
  justify-content: space-between;
    background: #f8e4d9;
  a {
    text-decoration: black;
  }
}
.navbar-nav .active > .nav-link {
  color: #355070;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h1 {
  font-family: 'Pacifico', cursive;
  color: #e56b6f;

}

.navbar-nav .nav-item{
  font-family: 'Ubuntu', sans-serif;
}
